---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pb-12 mt-5 text-center">
    <div class="text-5xl font-bold">Oops, page not found!</div>
    <div class="text-3xl py-5 font-bold text-blue-700"><a href="/">Back to home</a></div>
  </div>
</BaseLayout>
